*,*::after, *::before{
  box-sizing: border-box;

}

.containerTop {
  display: flex;
  flex-direction: column;
}

.containerMiddle {
  display: flex;
  height: auto;
}

.topSection, .leftSection, .middleSection, .rightSection {
  border: 2px solid blue;
  }

.topSection {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}
.leftSection{
  display: none;

}

.rightSection{
  display: none;
}

.middleSection{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 95%;
  margin-right: 5px;
  margin-left: 5px;
 }




.left-title{
  font-weight: bold;
  height:25%;
  border: 1px dashed red;
}

.left-portrait{
  height:30%;
  border: 1px dashed red;
}

.left-info{
  height: 45%;
  border: 1px dashed red;
}

.innerMiddleBottom::-webkit-scrollbar{
    display: none;
  }

.innerMiddleTop{
  height: 200px;
  border: 1px dashed red;
}

.innerMiddleBottom{
  border: 1px dashed red;
  overflow: scroll;
}


input::placeholder{
  font-size: xx-small;
}

.post-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px dashed green;

}

.post-title{
  border: 1px double grey;
  margin-bottom: 5px;
}

.post-content{
  border: 1px double grey;
}

.btn-del{
  margin-top: 5px;
  display: flex;
  justify-content: right;
  align-items: right;
  
}

#btn-search, #search {
  display: none;
}

@media (min-width: 425px) {
  .leftSection {
    display: block;
    width: 23%;
    height: 400px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .rightSection {
    display: block;
    width: 23%;
    height: 300px;

  }

  .middleSection {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 50%;

  }

  #login {
    position: absolute;
    right: 10px ;
  }

  #search, #btn-search {
    display: block;
  }

}